<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>DC Partner Panel</a></title>
  </head>
  <body>
    <div class="b-container"></div>
    <div class="content-wrapper">
      <div class="center">
        <div class="boxes">
          <div class="box box1 play1"></div>
          <div class="box box2 play2"></div>
          <div class="box box3 play3"></div>
        </div>
      </div>
    </div>
    <H1>Touch to Learn More:</H1>
  </body>
</html>
